.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100%;
}

.main-content {
  display: flex;
}

.side-nav {
  width: 241px;
  background: #121212;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0px 8px;
  position: relative;
  min-height: calc(100vh - 80px);
}

.main-area {
  width: 100%;
  background: #242424;
}

.music-player {
  width: 100%;
  min-height: 80px;
  background: #242424;
  border: 0.5px solid rgb(65, 65, 65);
  border-bottom: transparent;
}

